section.season {
  .year {
    text-align: center;
  }

  .mainContainer {
    display: flex;

    .table {
      flex: 1;
      // border: 2px solid gray;
      box-shadow: 0 0 20px -2px gray;
      margin: $margin;
      border-radius: $border-radius;
      background-color: white;
    }

    .gameweek {
      flex: 1;
      // border: 2px solid gray;
      box-shadow: 0 0 20px -2px gray;
      margin: $margin $margin $margin 0;
      border-radius: $border-radius;
      background: white;
    }
  }
}