@import './variables';

body {
  color: $olive;
  background: $linen;
  a {
    color: $olive;
    text-decoration: none;

    &:hover {
      color: $olive;
      text-decoration: none;
      cursor: pointer;
    }
  }
}
