// dimensions

$margin: 20px;
$padding: 20px;

$base-font-size: 20px;
$biggest-font-size: $base-font-size + 27px;
$bigger-font-size: $base-font-size + 18px;
$big-font-size: $base-font-size + 9px;
$regular-font-size: $base-font-size;
$small-font-size: $base-font-size - 3px;

$base-font-weight: 400;

//fonts

$heading-font: 'creteround';
$regular-font: 'cabin';

// colours

$green: #30c587;
$olive: #37371f;
$purple: #802392;
// 7e52a0;
$linen: #f5e9e2;
