section.mySundayLeagues {
  div.gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: minmax(400px, 1fr);
    gap: $margin $margin;
    margin: $margin;

    > div {
      box-shadow: 0 0 20px -2px gray;
      border-radius: $border-radius;
      background: white;
      padding: $padding;

      .title {
        text-align: center;
      }

      .link {
        text-align: center;
        margin-top: $margin;

      }

      .createLeagueDescription {
        text-align: center;
        margin: $margin;
      }

    }

    @include media-tablet() {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(2,minmax(300px, 1fr));

      grid-template-areas: 
      "myLeagues createLeague"
      "findLeague findLeague";

      .myLeagues {
        grid-area: myLeagues;
      }

      .createLeague {
        grid-area: createLeague;
      }

      .findLeague {
        grid-area: findLeague;
      }
    }

    @include media-mobile() {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3,minmax(250px, 1fr));
      grid-template-areas: 
      "myLeagues" 
      "createLeague"
      "findLeague";
    }
      
  }
}