section.fixtures {
  table {
    border: 1px solid lightgray;
    border-collapse: collapse;
    width: 90%;
    margin: auto;

    th, td {
      text-align: center;
      padding: $padding / 4;
    }
    tbody {
      tr:nth-child(odd) {background-color: #f2f2f2;}
    }
  }
}