@import '../../sass/app';

section.navbar {
  nav {
    background-color: $green;
    height: 80px;
    display: flex;
    align-items: stretch;
    text-align: center;

    .title {
      flex: 1;
      display: flex;
      align-items: center;
      color: $purple;
      font-family: $heading-font;
      font-size: $bigger-font-size;
      letter-spacing: 10px;
      text-transform: uppercase;

      &:hover {
        background-color: lighten($green, 5%);
      }

      span {
        margin-left: $margin * 4;
      }
    }

    .navButtons {
      flex: 1;
      display: flex;

      .navButton {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        letter-spacing: 1px;

        &:hover {
          background-color: lighten($green, 5%);
        }
      }
    }

    .mobileMenuIcon {
      display: none;
    }

    @include media-tablet() {
      .title {
        flex: 6;
      }

      .navButtons {
        display: flex;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 0;
        transition: all 1s ease;
        flex-direction: column;

        &.active {
          background: $green;
          left: 0;
          opacity: 1;
          transition: all 1s ease;
          z-index: 1;
          padding-left: 0px;
        }

        .menuIcon {
          width: 45px;
          height: 45px;
        }

        .navButton {
          flex: none;
          height: 4em;
        }
      }

      .mobileMenuIcon {
        display: flex;
        z-index: 9999;
        flex: 1;
        align-items: center;
        justify-content: center;

        &:hover {
          cursor: pointer;
        }
      }
    }

    @include media-mobile() {
      .title {
        font-size: $regular-font-size;
      }

      .menuIcon {
        width: 20px;
        height: 20px;
      }
    }
  }
}
