section.navbar {
  nav {
    background-color: $dark-blue;
    height: 80px;
    display: flex;
    align-items: stretch;

    .title {
      flex: 1;
      display: flex;
      align-items: center;
      color: $yellow;
      font-family: $heading-font;
      font-size: $big-font-size;
      letter-spacing: 10px;
      text-transform: uppercase;
      text-decoration: none;
      cursor: pointer;

      &:hover {
        background-color: lighten($dark-blue, 5%);
      }

      span {
        margin-left: $margin * 4;
      }
    }

    .navButtons {
      flex: 1;
      display: flex;

      .navButton {
        color: $light-blue;
        text-decoration: none;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        letter-spacing: 1px;

        &:hover {
          background-color: lighten($dark-blue, 5%);
          color: $light-blue;
          text-decoration: none;
          cursor: pointer;
        }
      }
    }

    .mobileMenuIcon {
      display: none;
    }

    @include media-tablet() {
      .title {
        flex: 1;

        span {
          margin: auto;
        }
      }

      .navButtons {
        display: flex;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 0;
        transition: all 0.8s ease;
        flex-direction: column;

        &.active {
          background: $dark-blue;
          left: 0;
          opacity: 1;
          transition: all 0.8s ease;
          z-index: 1;
          padding-left: 0px;
        }

        .menuIcon {
          width: 45px;
          height: 45px;
        }

        .navButton {
          flex: none;
          height: 4em;
        }
      }

      .mobileMenuIcon {
        display: flex;
        z-index: 9999;
        position: absolute;
        top: 40px;
        right: 30px;
        transform: translate(-50%, -50%);

        &:hover {
          cursor: pointer;
        }
      }
    }

    @include media-mobile() {
      .title {
        visibility: hidden;
        position: relative;
      }

      .title:after {
        font-size: $bigger-font-size;
        visibility: visible;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        content: 'FSL';
      }

      .menuIcon {
        width: 20px;
        height: 20px;
      }
    }
  }
}
